<div class="post-card" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">
  <a href="/about">
    {% if post.featured-img %}
      <figure class="post-card__thumb">
        <img
          src="{{ site.url }}{{ site.baseurl }}/assets/img/posts/{{post.featured-img}}.jpg"
          data-srcset="{{ site.url }}{{ site.baseurl }}/assets/img/posts/{{post.featured-img}}.jpg, {{ site.url }}{{ site.baseurl }}/assets/img/posts/{{post.featured-img}}.jpg 2x"
          class="lazyload blur"
          alt="{{post.title}}"
        />
        <noscript><img src="{{ site.url }}{{ site.baseurl }}/assets/img/posts/{{post.featured-img}}.jpg" alt="{{ post.title }}"></noscript>
      </figure>
    {% else %}
      <figure class="post-card__thumb">
        <div class="dark-bg"></div>
      </figure>
    {% endif %}
  </a>
  <a class="post-card__inner" href="/about">
    <div class="post-card__header">
      <h2>{{ post.title | strip_html | truncate: 50 }}</h2>
    </div>
    {% if post.summary %}
      <p>{{ post.summary | strip_html | truncatewords:40 }}</p>
    {% else %}
      <p>{{ post.content | strip_html | truncatewords: 40 }}</p>
    {% endif %}
  </a>
</div>
